.certificate {
    margin: 50px 0px;
    margin-left: 160px;  
    /* background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%); */
  
    /* margin-left: 140px; */
    box-shadow: 0px 4px 8px 0px black;
    
}
  .certificate hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
  }
  
  .certificate h2 {
    font-weight: bold;
    color: #138781;
  }
  
  #ads {
    margin: 30px 0px 30px 0px;
  }
  
  #ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background: #f29f67;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .certificate .card img {
    height: 170px;
    width: 100%;
    
  }
  
  .card-detail-badge {
    background-color: #e0b50f;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
  }
  .card-image-overly {
    font-size: 20px;
  }
  .card-image-overly span {
    display: inline-block;
    margin-left: 5px;
  }
  
  .certificate .card:hover {
    background-color: white;
    border-radius: 4px;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    transition: all 1s ease;
  }
  
  .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    background-color: #138781;
    color: white;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;
  }
  
  .ad-btn:hover {
    background-color: white;
    color: #138781;
    background: transparent;
    border: 2px solid #138781;
    transition: all 0.5s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  }
  .more{
    background-color: coral;
     color: white;
     text-transform: uppercase;
     width: 150px;
     height: 40px;
     display: block;
     text-align: center;
     border-radius: 80px;
     font-size: 16px;
     line-height: 35px;
     text-decoration: none;
     margin: 20px auto 20px auto;
     /* overflow: hidden; */
     position: relative;
   }
   .more:hover {
     background-color: white;
     color: coral;
     background: transparent;
     border: 2px solid  coral;
     transition: all 0.5s ease;
     box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
   }
  /* =============================== */
  @media (max-width: 600px) {
    .certificate {
      margin: 0;
      padding: 0;
      margin-top: 50px;
    }
    .certificate hr {
      width: 280px;
    }
    .certificate .card {
      margin-top: 30px;
    }
  }